
.DS_Store
*.pyc
Client/node_modules/.bin/
.idea/
.vscode/
Client/node_modules/
Client/build/
*.tgz
my-app*
Client/template/src/__tests__/__snapshots__/
Client/lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
db.sqlite3

db.sqlite3-shm

db.sqlite3-wal
