[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
pytz = "*"
requests = "*"
blis = "*"
preshed = "*"
chatterbot = "==1.0.4"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
